body {
    background-image: url("https://media.istockphoto.com/photos/rough-wall-texture-wall-background-house-facade-with-spatula-picture-id928718792");
}

h4 {
    cursor: pointer;
}

.header {
    background-color: #f4d742;
    padding: 25px;
    text-align: center;
}

.otherPages {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.subH, .subA, .subP, .subB {
    margin: 4px 2px;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
}

.subH {
    background-color: green;
}

.subA {
    background-color: blue;
}

.subP {
    background-color: purple;
}

.subB {
    background-color: red;
}

.postContainer {
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    padding: 45px;
    box-shadow: 0px 0px 10px 8px #888888;
}

.post {
    border-bottom: 1px solid black;
    padding: 20px;
}

.max {
    max-width: 100%;
}

.CaesarPop {
    margin: auto;
    text-align: center;
}

strong {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.popup_box {
    visibility: hidden;
    display: none;
    width:30%;
    background-image: linear-gradient(to bottom right, yellow, red);
    position:fixed;
    left:35%;
    top:30%;
    border-radius:10px;
    border:2px solid gray;
    box-shadow:0px 0px 10px 0px gray;
    font-family:helvetica;
}

.popup_box .cancel_button {
    float:right;
    margin-top:4px;
    margin-bottom:4px;
    margin-right:5px;
    background-color:grey;
    border:none;
    color:white;
    padding:5px;
    border-radius:1000px;
    width:25px;
    border:1px solid #424242;
    box-shadow:0px 0px 10px 0px grey;
    cursor:pointer;
}

.popup_box .info_text {
    padding:10px;
    clear:both;
    background-color:white;
    color:#6E6E6E;
    margin: 5px;
}

.popup_box .close_button {
    margin:0px;
    padding:0px;
    width:70px;
    height:30px;
    line-height:30px;
    font-size:16px;
    background-color:grey;
    color:white;
    border:none;
    margin-bottom:10px;
    border-radius:2px;
    cursor:pointer;
}

.img {

}